@charset "UTF-8";

.wrap{
	width:1200px;
	height:800px;
	margin:0 auto;
}

header{
	height:150px;
	background-color: darkorange;
}

.title{
	height:75px;
}

.item-box{
	width:395px;
	height:350px;
	margin-right:5px;
	border:solid 2px darkorange;
}

footer{
	height:100px;
	color:darkgray;
}

.headline{
	font-size:18px;
	font-weight: bolder;
}

.author{
	color:darkorange;
}